@import "navbar.css";
@import "./unauthed/mainpage.css";
@import "./unauthed/advisers.css";
@import "./globalcomponents/investmentdisplay.css";
@import "./adviser/main-page.css";
@import "./adviser/client-page.css";
@import "./adviser/account-page.css";
@import "./client/accountpage.css";

/* imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --adviser-blue: hsl(192, 75%, 33%);
  --adviser-blue-dark: hsl(189, 100%, 13%);
  --adviser-blue-light: hsl(195, 50%, 53%);
  --adviser-blue-gradient: linear-gradient(
    180deg,
    hsl(195, 50%, 53%) 0%,
    hsl(192, 75%, 33%),
    hsl(189, 100%, 13%) 75%,
    hsl(186 100% 8%)
  );
  --adviser-blue-gradient_hover: linear-gradient(
    180deg,
    hsl(195, 50%, 53%) 0%,
    hsl(192, 75%, 33%),
    hsl(189, 100%, 13%) 46%,
    hsl(186 100% 8%)
  );
  --background-dark: #24252a;
  --background-light: #e7e9f4;
  --main-dark: #2a3031;
  --main-light: #edf0f1;
  --confirm-green: rgb(0, 128, 0);
  --confirm-green-hover: rgb(34, 177, 76);
  --background-grey-gradient: linear-gradient(
    0deg,
    rgb(131, 131, 133) 0%,
    rgba(196, 202, 219, 1) 12%,
    rgba(218, 221, 231, 0.989233193277311) 46%,
    rgba(224, 227, 235, 1) 100%
  );

  --custom-advisor-blue: hsl(194 47% 77%);
  --custom-advisor-blue-faded: hsl(200 72% 47%);

  --account-green-main: hsl(135, 50%, 50%);
  --account-green-gradient_light: linear-gradient(
    180deg,
    hsl(126, 20%, 80%) 0%,
    hsl(129, 30%, 70%) 15%,
    hsl(132, 40%, 60%) 46%,
    hsl(135, 50%, 50%) 100%
  );
  --account-green-gradient_dark: linear-gradient(
    180deg,
    hsl(135, 50%, 50%) 0%,
    hsl(138, 60%, 40%) 12%,
    hsl(141, 70%, 30%) 46%,
    hsl(144, 80%, 20%) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(206, 203, 203);
}

.profile-image {
  height: 5rem;
  width: 5rem;
}

.submit-btn {
  background-color: var(--confirm-green);
  color: var(--main-light);
  font-size: 1.5rem;
  border-radius: 15px;
  border: 1px solid var(--main-light);
  cursor: pointer;
  transition: 0.5s 0s;
  height: 4rem;
  width: 10rem;
}

.submit-btn:hover {
  background-color: var(--confirm-green-hover);
  border: 1px solid rgba(54, 172, 71, 0.2);
  font-size: 1.75rem;
}

.next-link_No_Decoration > * {
  text-decoration: none;
}

.next-link_No_Decoration:visited {
  text-decoration: none;
  background-color: transparent;
}

.invisible_btn {
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
