@import "navbar.css";
@import "./unauthed/mainpage.css";
@import "./unauthed/advisers.css";
@import "./globalcomponents/investmentdisplay.css";

/* imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --adviser-blue: #0088a9;
  --background-dark: #24252a;
  --main-white: #edf0f1;
  --confirm-green: rgb(0, 128, 0);
  --confirm-green-hover: rgb(34, 177, 76);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.profile-image {
  height: 5rem;
  width: 5rem;
}
