.navbar_wrapper {
  background-color: #24252a;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_links {
  list-style: none;
}

.nav_links a {
  text-decoration: none;
}

.nav_links a:visited {
  color: var(--main-white);
}

.nav_links li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 30px;
  transition: all 0.3s ease 0s;
}
.nav_links li:hover {
  color: var(--adviser-blue);
}

.nav-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--main-white);
  text-decoration: none;
  font-size: 1rem;
}

.logo {
  cursor: pointer;
}

.nav-btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.logo {
  width: 3rem;
  height: 3rem;
}

.modal-toggle {
  background-color: green;
  border-radius: 15px;
  width: 4rem;
  height: 2rem;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.modal-toggle_slider {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 1px solid green;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  margin: 0 -5px;
}

.modal-toggle_group {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
