.advisor-card_wrapper {
  width: 60%;
  margin: 2rem 4rem;
  border-radius: 25px;
  background-color: var(--background-dark);
  color: var(--main-white);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
}

.advisor-card-profile-name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}

.advisor-card-profile-name_wrapper h3 {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advisor-card_text {
  margin: 0.5rem 2rem;
}

.advisor-card-btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.advisor-btn {
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: var(--confirm-green);
  cursor: pointer;
  transition: 0.5s 0s;
  color: rgb(205, 227, 207);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.advisor-btn:hover {
  background-color: var(--confirm-green-hover);
}
