.advisor-card_wrapper {
  width: 60%;
  margin: 2rem 4rem;
  border-radius: 25px;
  background: var(--background-grey-gradient);
  color: var(--main-dark);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advisor-card-profile-name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 25%;
}

.advisor-card-profile-name_wrapper h3 {
  font-size: 1.25rem;
  white-space: nowrap;
}

.advisor-card_text {
  margin: 0.5rem 2rem;
}

.advisor-card-btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.advisor-btn {
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 25px;

  /* Use the linear gradient as the background */
  background: linear-gradient(
    0deg,
    rgb(7, 5, 52) 0%,
    rgba(16, 108, 140, 1) 9%,
    rgba(13, 87, 142, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );

  cursor: pointer;
  /* Apply transition to background property for smooth color change */
  transition: 2s;

  color: rgb(205, 227, 207);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.advisor-btn:hover {
  /* Update background-color on hover */
  background-color: #e91e63;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgb(5, 4, 26) 0%,
    rgb(20, 91, 114) 9%,
    rgb(18, 74, 117) 39%,
    rgb(20, 182, 214) 100%
  );
}
