.adviser-homepage_wrapper {
  width: 80%;
  margin: auto;
  border: 1px solid var(--adviser-blue);
  background: var(--background-grey-gradient);
  border-radius: 15px;
  margin-top: 2rem;
  padding-top: 1rem;
}

.toggle-view_tabs {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.adviser-tab_link {
  width: 100%;
}

.adviser-tab {
  background: var(--adviser-blue-gradient);
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
}

.adviser-tab:hover {
  background: var(--adviser-blue-gradient_hover);
  font-size: 1.25rem;
}

.adviser-homepage-details {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
}

.adviser-homepage-details_wrapper {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.adviser-img-wrapper {
  width: 20%;
}

.adviser-profile-img {
  height: 8rem;
  width: 8rem;
  margin-left: 1rem;
}

.profile-details-wrapper {
  padding: 2rem 1.5rem 2rem 1.5rem;
  width: 100%;
}

.profile-details-wrapper h2 {
  color: var(--adviser-blue);
}
.profile-details-wrapper h3 {
  color: var(--adviser-blue);
}
.profile-details-wrapper p {
  margin-bottom: 1rem;
}
.profile-details-wrapper p span {
  color: var(--adviser-blue);
}

.profile-details-wrapper div {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  width: 50%;
  justify-content: space-between;
}

.profile-details-wrapper div input {
  width: 70%;
}
.profile-details-wrapper div input:focus {
  background-color: var(--adviser-blue-dark);
  color: var(--main-light);
}

.adviser-submit-btn_wrapper {
  margin-left: 10rem;
  margin-bottom: 3rem;
}

.adviser-bio-edit {
  border-radius: 15px;
  padding: 0.5rem;
  border: 1px solid var(--adviser-blue);
}
.adviser-bio-edit:focus {
  background-color: var(--adviser-blue-dark);
  color: var(--main-light);
}

.client-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 80%;
  margin-left: 2rem;
}
.client-display_heading {
  color: var(--adviser-blue);
  font-size: 1.75rem;
  padding-left: 3rem;
}

.client-card_wrapper {
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid var(--adviser-blue);
  border-radius: 15px;
  display: flex;
  width: 100%;
  cursor: pointer;
  transition: 0.5s 0;
}

.client-card_wrapper:hover {
  background-color: var(--adviser-blue-dark);
}

.client-img_wrapper {
  margin-right: 2rem;
}

.client-information_wrapper {
  padding: 1rem 2rem;
}

.next-link_No_Decorationlink {
  cursor: pointer;
}
.add-client_form-title {
  color: var(--adviser-blue);
  margin-bottom: 1rem;
}

.add-client_form {
  padding: 2rem;
  margin: 1rem;
  border-radius: 15px;
  border: 1px solid var(--adviser-blue);
}
.add-client-form_wrapper {
  display: flex;
  justify-content: center;
}
.add-client-dual-input_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.add-client-dual-input_wrapper input {
  width: 40%;
}

.add-client-btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.add-client_button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: 1px solid var(--adviser-blue);
  background-color: var(--adviser-blue);
  color: white;
  transition: 0.5s 0s;
}

.add-client_button:hover {
  background-color: var(--adviser-blue-dark);
}
