.adviser-homepage_wrapper {
  width: 80%;
  margin: auto;
  border: 1px solid var(--adviser-blue);
  border-radius: 15px;
  margin-top: 2rem;
  padding-top: 1rem;
}

.adviser-client_tabs {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.adviser-homepage-details {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
}

.adviser-homepage-details_wrapper {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.adviser-img-wrapper {
  width: 20%;
}

.adviser-profile-img {
  height: 8rem;
  width: 8rem;
  margin-left: 1rem;
}

.adviser-details-wrapper {
  padding: 0 1.5rem 2rem 1.5rem;

  width: 100%;
}

.adviser-details-wrapper h2 {
  color: var(--adviser-blue);
}
.adviser-details-wrapper h3 {
  color: var(--adviser-blue);
}
.adviser-details-wrapper p {
  margin-bottom: 1rem;
}
.adviser-details-wrapper p span {
  color: var(--adviser-blue);
}

.adviser-details-wrapper div {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  width: 35%;
  justify-content: space-between;
}

.adviser-details-wrapper div input {
  width: 70%;
}
.adviser-details-wrapper div input:focus {
  background-color: var(--adviser-blue-faded);
  color: var(--main-white);
}

.adviser-submit-btn_wrapper {
  margin-left: 10rem;
  margin-bottom: 3rem;
}

.adviser-bio-edit {
  border-radius: 15px;
  padding: 0.5rem;
  border: 1px solid var(--adviser-blue);
}
.adviser-bio-edit:focus {
  background-color: var(--adviser-blue-faded);
  color: var(--main-white);
}

.client-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 80%;
  margin-left: 2rem;
}

.client-card_wrapper {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--adviser-blue);
  border-radius: 15px;
  display: flex;
  width: 100%;
  cursor: pointer;
  transition: 0.5s 0;
}

.client-card_wrapper:hover {
  background-color: var(--adviser-blue-faded);
}

.client-img_wrapper {
  margin-right: 2rem;
}

.client-information_wrapper {
  padding: 1rem 2rem;
}

.next-link_No_Decorationlink {
  cursor: pointer;
}
